node_modules/
.next/
__pycache__/
*.pyc
*.pyo
venv/
env/
.env
.env.local
.env.*.local
.DS_Store
*.log
.terraform/
.terragrunt-cache/
# infra/ (Uncommented to support Terragrunt in Git)
# infra/
simulation/
